.fl {
  float: left;
}
.fr {
  float: right;
}
/* 清除浮动 */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.qianzhui {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.qianzhui-b {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.changeBig {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari 和 Chrome */
  -o-transform: scale(1.2, 1.2);
  /* Opera */
  -moz-transform: scale(1.2, 1.2);
}
.changeRotate {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(360deg);
  /* Opera */
  -moz-transform: rotate(360deg);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}
/* 一些简单的mixin */
